.border-radius-0{
  border-radius: 5px;
}

.mr-2{
  margin-right: 10px;
}

.p-abs{
  position: absolute;
}
.p-rel{
  position: relative;
}
.border-danger{
  border: 1px solid red;
  border-radius: 2px;
}